workflows/evolution-api-campaign-dispatcher.json
{
  "name": "Evolution API Campaign Dispatcher v3.1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 60
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (60s)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.NEXT_PUBLIC_APP_URL }}/api/n8n/scheduled-campaigns",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-campaigns",
      "name": "Fetch Scheduled Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "N8N API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-campaigns",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-campaigns",
      "name": "Has Campaigns?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {},
      "id": "no-campaigns",
      "name": "No Campaigns",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 120]
    },
    {
      "parameters": {
        "fieldToSplitOut": "campaigns",
        "options": {}
      },
      "id": "extract-campaigns",
      "name": "Extract Campaigns",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, -120]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "loop-campaigns",
      "name": "Loop Campaigns",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, -120]
    },
    {
      "parameters": {
        "jsCode": "// Log detalhado da campanha\nconst campaign = $input.first().json;\n\nconsole.log('========================================');\nconsole.log(`📤 Iniciando: ${campaign.title}`);\nconsole.log(`   ID: ${campaign.campaignId}`);\nconsole.log(`   Tipo: ${campaign.scheduleType}`);\nconsole.log(`   Agendado: ${campaign.scheduledAt}`);\nconsole.log(`   Timezone: ${campaign.timezone}`);\nconsole.log(`   Destinatários: ${campaign.totalRecipients}`);\nconsole.log(`   Instance: ${campaign.instance?.name} (${campaign.instance?.isTest ? 'TESTE' : 'PRODUÇÃO'})`);\nconsole.log('========================================');\n\nreturn $input.all();"
      },
      "id": "log-campaign",
      "name": "Log Campaign Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -120]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.NEXT_PUBLIC_APP_URL }}/api/n8n/campaigns/{{ $json.campaignId }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"processing\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "status-processing",
      "name": "Status → Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -120],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "N8N API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pegar dados da campanha do Loop\nconst loopData = $('Loop Campaigns').first().json;\n\n// Após Status → Processing, a resposta tem campaignId no nível raiz\n// Mas precisamos dos dados completos da campanha\nreturn [{\n  json: {\n    ...loopData,\n    processingStarted: true\n  }\n}];"
      },
      "id": "restore-campaign-data",
      "name": "Restore Campaign Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -120]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-recipients",
              "leftValue": "={{ $json.recipients.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-recipients",
      "name": "Has Recipients?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -120]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.NEXT_PUBLIC_APP_URL }}/api/n8n/campaigns/{{ $json.campaignId }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"completed\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "no-recipients-complete",
      "name": "No Recipients → Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 60],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "N8N API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar recipients com dados da campanha\nconst campaign = $input.first().json;\nconst recipients = campaign.recipients || [];\n\nconst preparedRecipients = recipients.map((recipient, index) => ({\n  // Dados do recipient\n  recipientId: recipient.id,\n  phoneNumber: recipient.phoneNumber,\n  recipientStatus: recipient.status,\n  \n  // Dados da campanha (propagados)\n  campaignId: campaign.campaignId,\n  campaignTitle: campaign.title,\n  campaignMessage: campaign.message,\n  \n  // Dados da instância\n  instanceId: campaign.instance?.id,\n  instanceName: campaign.instance?.name,\n  apiUrl: campaign.instance?.apiUrl,\n  apiToken: campaign.instance?.apiToken,\n  isTest: campaign.instance?.isTest,\n  \n  // Mídia (se existir)\n  media: campaign.media,\n  \n  // Throttling\n  minDelay: campaign.throttling?.minDelay || 1000,\n  maxDelay: campaign.throttling?.maxDelay || 3000,\n  \n  // Progresso\n  currentIndex: index + 1,\n  totalRecipients: recipients.length\n}));\n\nreturn preparedRecipients.map(r => ({ json: r }));"
      },
      "id": "prepare-recipients",
      "name": "Prepare Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -240]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-recipients",
      "name": "Loop Recipients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2200, -240]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-media",
              "leftValue": "={{ $json.media }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-media",
      "name": "Has Media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, -240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apiUrl }}/message/sendMedia/{{ $json.instanceName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apiToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phoneNumber }}\",\n  \"mediatype\": \"{{ $json.media.mimeType.startsWith('image') ? 'image' : 'video' }}\",\n  \"mimetype\": \"{{ $json.media.mimeType }}\",\n  \"caption\": \"{{ $json.campaignMessage }}\",\n  \"media\": \"{{ $json.media.base64 }}\",\n  \"fileName\": \"{{ $json.media.fileName }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "send-media",
      "name": "Send Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, -360],
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-key",
          "name": "Evolution API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apiUrl }}/message/sendText/{{ $json.instanceName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apiToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phoneNumber }}\",\n  \"text\": \"{{ $json.campaignMessage }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "send-text",
      "name": "Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, -120],
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api-key",
          "name": "Evolution API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "recipientId",
              "field2": "recipientId"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2860, -240]
    },
    {
      "parameters": {
        "jsCode": "// Analisar resultado do envio\nconst input = $input.first().json;\nconst loopData = $('Loop Recipients').first().json;\n\n// Verificar se houve erro\nconst hasError = input.error || input.code === 400 || input.code === 500 || !input.key;\nconst status = hasError ? 'failed' : 'sent';\nconst errorMessage = hasError ? (input.error || input.message || 'Erro desconhecido') : null;\n\nconsole.log(`${status === 'sent' ? '✅' : '❌'} [${loopData.currentIndex}/${loopData.totalRecipients}] ${loopData.phoneNumber}`);\n\nreturn [{\n  json: {\n    ...loopData,\n    sendResult: input,\n    status,\n    errorMessage\n  }\n}];"
      },
      "id": "analyze-result",
      "name": "Analyze Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, -240]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.NEXT_PUBLIC_APP_URL }}/api/n8n/campaign-items/{{ $json.recipientId }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.status }}\",\n  \"error_message\": {{ $json.errorMessage ? '\"' + $json.errorMessage + '\"' : 'null' }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "update-item-status",
      "name": "Update Item Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, -240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "N8N API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Restaurar dados do loop para próximas operações\nconst loopData = $('Loop Recipients').first().json;\nconst updateResult = $input.first().json;\n\nreturn [{\n  json: {\n    ...loopData,\n    itemUpdateResult: updateResult\n  }\n}];"
      },
      "id": "restore-loop-data",
      "name": "Restore Loop Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, -240]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-sent",
              "leftValue": "={{ $json.status }}",
              "rightValue": "sent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-sent",
      "name": "Is Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3740, -240]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.NEXT_PUBLIC_APP_URL }}/api/n8n/campaigns/{{ $json.campaignId }}/counters",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"increment_sent\": 1\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "increment-sent",
      "name": "Increment Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3960, -360],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "N8N API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.NEXT_PUBLIC_APP_URL }}/api/n8n/campaigns/{{ $json.campaignId }}/counters",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"increment_failed\": 1\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "increment-failed",
      "name": "Increment Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3960, -120],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "N8N API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "recipientId",
              "field2": "recipientId"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-counters",
      "name": "Merge Counters",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [4180, -240]
    },
    {
      "parameters": {
        "jsCode": "// Restaurar dados para o delay e próximo loop\nconst loopData = $('Loop Recipients').first().json;\n\nreturn [{\n  json: {\n    ...loopData\n  }\n}];"
      },
      "id": "prepare-delay",
      "name": "Prepare Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4400, -240]
    },
    {
      "parameters": {
        "jsCode": "// Calcular delay aleatório\nconst data = $input.first().json;\nconst minDelay = data.minDelay || 1000;\nconst maxDelay = data.maxDelay || 3000;\n\nconst delay = Math.floor(Math.random() * (maxDelay - minDelay + 1)) + minDelay;\n\nconsole.log(`⏱️ Delay: ${delay}ms`);\n\nreturn [{\n  json: {\n    ...data,\n    calculatedDelay: delay\n  }\n}];"
      },
      "id": "calculate-delay",
      "name": "Calculate Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4620, -240]
    },
    {
      "parameters": {
        "amount": "={{ $json.calculatedDelay }}",
        "unit": "milliseconds"
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4840, -240],
      "webhookId": "wait-webhook"
    },
    {
      "parameters": {},
      "id": "back-to-loop",
      "name": "Back to Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [5060, -240]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.NEXT_PUBLIC_APP_URL }}/api/n8n/campaigns/{{ $json.campaignId }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"completed\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "complete-campaign",
      "name": "Complete Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, -480],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "N8N API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log de conclusão\nconst data = $input.first().json;\nconsole.log('========================================');\nconsole.log(`✅ Campanha \"${data.title || data.campaignTitle}\" concluída!`);\nconsole.log(`   ID: ${data.campaignId}`);\nconsole.log('========================================');\n\nreturn $input.all();"
      },
      "id": "log-complete",
      "name": "Log Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, -480]
    }
  ],
  "connections": {
    "Schedule Trigger (60s)": {
      "main": [
        [
          {
            "node": "Fetch Scheduled Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scheduled Campaigns": {
      "main": [
        [
          {
            "node": "Has Campaigns?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Campaigns?": {
      "main": [
        [
          {
            "node": "Extract Campaigns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Campaigns": {
      "main": [
        [
          {
            "node": "Loop Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Campaigns": {
      "main": [
        [
          {
            "node": "Log Campaign Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complete Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Campaign Info": {
      "main": [
        [
          {
            "node": "Status → Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status → Processing": {
      "main": [
        [
          {
            "node": "Restore Campaign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Campaign Data": {
      "main": [
        [
          {
            "node": "Has Recipients?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Recipients?": {
      "main": [
        [
          {
            "node": "Prepare Recipients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Recipients → Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Recipients → Complete": {
      "main": [
        [
          {
            "node": "Loop Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Recipients": {
      "main": [
        [
          {
            "node": "Loop Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Recipients": {
      "main": [
        [
          {
            "node": "Has Media?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Media?": {
      "main": [
        [
          {
            "node": "Send Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Media": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Analyze Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Result": {
      "main": [
        [
          {
            "node": "Update Item Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Item Status": {
      "main": [
        [
          {
            "node": "Restore Loop Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Loop Data": {
      "main": [
        [
          {
            "node": "Is Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Sent?": {
      "main": [
        [
          {
            "node": "Increment Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Sent": {
      "main": [
        [
          {
            "node": "Merge Counters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Failed": {
      "main": [
        [
          {
            "node": "Merge Counters",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Counters": {
      "main": [
        [
          {
            "node": "Prepare Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delay": {
      "main": [
        [
          {
            "node": "Calculate Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Delay": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Back to Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Back to Loop": {
      "main": [
        [
          {
            "node": "Loop Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Campaign": {
      "main": [
        [
          {
            "node": "Log Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "campaign-dispatcher-v3.1"
  },
  "pinData": {},
  "versionId": "3.1.0",
  "triggerCount": 1
}
