workflows/evolution-api-campaign-dispatcher.json
{
  "name": "Evolution API - Campaign Dispatcher (Test Instances)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.NEXT_PUBLIC_APP_URL}}/api/n8n/test-campaigns",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-campaigns",
      "name": "Fetch Test Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.campaigns}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-has-campaigns",
      "name": "Has Campaigns?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-campaigns",
      "name": "Split Campaigns",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.NEXT_PUBLIC_APP_URL}}/api/n8n/campaigns/{{$json.id}}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-recipients",
      "name": "Fetch Recipients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.NEXT_PUBLIC_APP_URL}}/api/n8n/campaigns/{{$('Split Campaigns').item.json.id}}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"processing\"\n}",
        "options": {}
      },
      "id": "update-status-processing",
      "name": "Update Status to Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.items}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-has-recipients",
      "name": "Has Recipients?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-recipients",
      "name": "Split Recipients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EVOLUTION_API_URL}}/message/sendText/{{$('Split Campaigns').item.json.instance.instance_key}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('Split Campaigns').item.json.instance.api_token}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$json.recipient}}\",\n  \"text\": \"{{$('Split Campaigns').item.json.message}}\",\n  \"delay\": 1200\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-message-evolution",
      "name": "Send Message via Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1850, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.NEXT_PUBLIC_APP_URL}}/api/n8n/campaign-items/{{$('Split Recipients').item.json.id}}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{$json.error ? 'failed' : 'sent'}}\",\n  \"error_message\": \"{{$json.error || null}}\",\n  \"response_data\": {{$json}}\n}",
        "options": {}
      },
      "id": "update-item-status",
      "name": "Update Item Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.NEXT_PUBLIC_APP_URL}}/api/n8n/campaigns/{{$('Split Campaigns').item.json.id}}/counters",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"increment_sent\": {{$('Send Message via Evolution API').item.json.error ? 0 : 1}},\n  \"increment_failed\": {{$('Send Message via Evolution API').item.json.error ? 1 : 0}}\n}",
        "options": {}
      },
      "id": "update-counters",
      "name": "Update Campaign Counters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 100]
    },
    {
      "parameters": {
        "amount": "={{Math.floor(Math.random() * 216) + 35}}",
        "unit": "seconds"
      },
      "id": "random-delay",
      "name": "Random Delay (35-250s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2450, 100],
      "webhookId": "random-delay-webhook"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.NEXT_PUBLIC_APP_URL}}/api/n8n/campaigns/{{$('Split Campaigns').item.json.id}}/complete",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.N8N_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "complete-campaign",
      "name": "Complete Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1850, 300]
    },
    {
      "parameters": {},
      "id": "no-op-end",
      "name": "No Campaigns",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Test Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Test Campaigns": {
      "main": [
        [
          {
            "node": "Has Campaigns?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Campaigns?": {
      "main": [
        [
          {
            "node": "Split Campaigns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Campaigns": {
      "main": [
        [
          {
            "node": "Fetch Recipients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complete Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recipients": {
      "main": [
        [
          {
            "node": "Update Status to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Processing": {
      "main": [
        [
          {
            "node": "Has Recipients?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Recipients?": {
      "main": [
        [
          {
            "node": "Split Recipients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Recipients": {
      "main": [
        [
          {
            "node": "Send Message via Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message via Evolution API": {
      "main": [
        [
          {
            "node": "Update Item Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Item Status": {
      "main": [
        [
          {
            "node": "Update Campaign Counters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Campaign Counters": {
      "main": [
        [
          {
            "node": "Random Delay (35-250s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Delay (35-250s)": {
      "main": [
        [
          {
            "node": "Split Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "WhatsApp",
      "id": "whatsapp-tag"
    },
    {
      "name": "Evolution API",
      "id": "evolution-tag"
    },
    {
      "name": "Campaign",
      "id": "campaign-tag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-24T00:00:00.000Z",
  "versionId": "1"
}
