workflows/evolution-api-campaign-dispatcher.json
{
  "name": "Campaign Dispatcher v4.4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 60
            }
          ]
        }
      },
      "id": "trigger",
      "name": "A cada 60 segundos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://dev.wpp.sistemabrasil.online/api/n8n/scheduled-campaigns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1NTYxNDJhMi1kMDIzLTQ1OTYtYWZkMy0xMTI5NTY4MzcyYTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzOTI1OTIyfQ.FccQV_2o06C-xdI6cKC-hqksLbIfOpvC3-5rsVqXsvA"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch",
      "name": "Buscar Campanhas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-count",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-campaigns",
      "name": "Tem Campanhas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {},
      "id": "no-campaigns",
      "name": "Sem Campanhas",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 400]
    },
    {
      "parameters": {
        "fieldToSplitOut": "campaigns",
        "options": {}
      },
      "id": "split-campaigns",
      "name": "Separar Campanhas",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://dev.wpp.sistemabrasil.online/api/n8n/campaigns/{{ $json.campaignId }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1NTYxNDJhMi1kMDIzLTQ1OTYtYWZkMy0xMTI5NTY4MzcyYTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzOTI1OTIyfQ.FccQV_2o06C-xdI6cKC-hqksLbIfOpvC3-5rsVqXsvA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"processing\" }",
        "options": {}
      },
      "id": "set-processing",
      "name": "Status → Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Restaurar dados da campanha do nó anterior\nconst campaigns = $('Separar Campanhas').all();\nconst currentIndex = $itemIndex;\nconst campaign = campaigns[currentIndex]?.json;\n\nif (!campaign) {\n  console.log('ERROR: Campaign not found at index', currentIndex);\n  return [{ json: { error: 'Campaign not found', index: currentIndex } }];\n}\n\nconsole.log('\\n📤 Campanha:', campaign.title);\nconsole.log('   ID:', campaign.campaignId);\nconsole.log('   Recipients:', campaign.recipients?.length || 0);\n\nreturn [{ json: campaign }];"
      },
      "id": "restore-data",
      "name": "Restaurar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-recipients",
              "leftValue": "={{ $json.recipients?.length || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-recipients",
      "name": "Tem Recipients?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://dev.wpp.sistemabrasil.online/api/n8n/campaigns/{{ $json.campaignId }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1NTYxNDJhMi1kMDIzLTQ1OTYtYWZkMy0xMTI5NTY4MzcyYTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzOTI1OTIyfQ.FccQV_2o06C-xdI6cKC-hqksLbIfOpvC3-5rsVqXsvA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"completed\" }",
        "options": {}
      },
      "id": "complete-empty",
      "name": "Completar (Vazia)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 340]
    },
    {
      "parameters": {
        "jsCode": "// Preparar lista de recipients para envio\nconst campaign = $input.first().json;\nconst recipients = campaign.recipients || [];\n\nconsole.log('\\n📋 Preparando', recipients.length, 'recipients para campanha', campaign.campaignId);\nconsole.log('   Campanha:', campaign.title);\nconsole.log('   Mensagem:', campaign.message?.substring(0, 50) + '...');\nconsole.log('   Instance:', campaign.instance?.name);\nconsole.log('   API URL:', campaign.instance?.apiUrl);\n\nif (recipients.length === 0) {\n  console.log('❌ ERRO: Nenhum recipient encontrado!');\n  return [];\n}\n\nconst items = recipients.map((recipient, index) => {\n  console.log(`   [${index + 1}/${recipients.length}] ${recipient.phoneNumber}`);\n  \n  return {\n    json: {\n      // IDs\n      campaignId: campaign.campaignId,\n      recipientId: recipient.id,\n      \n      // Dados do recipient\n      phoneNumber: recipient.phoneNumber,\n      \n      // Dados da campanha\n      campaignTitle: campaign.title,\n      campaignMessage: campaign.message,\n      \n      // Instância WhatsApp\n      instanceName: campaign.instance?.instanceKey || campaign.instance?.name,\n      apiUrl: campaign.instance?.apiUrl,\n      apiToken: campaign.instance?.apiToken,\n      isTestInstance: campaign.instance?.isTest,\n      \n      // Mídia\n      media: campaign.media,\n      \n      // Throttling\n      minDelay: campaign.throttling?.minDelay || 1000,\n      maxDelay: campaign.throttling?.maxDelay || 3000,\n      \n      // Controle\n      index: index + 1,\n      total: recipients.length\n    }\n  };\n});\n\nconsole.log('\\n✅ Items preparados:', items.length);\nreturn items;"
      },
      "id": "prepare-recipients",
      "name": "Preparar Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 100]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop",
      "name": "Loop Recipients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1760, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-media",
              "leftValue": "={{ $json.media?.base64 || $json.media?.fileName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-media",
      "name": "Tem Mídia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apiUrl }}/message/sendMedia/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phoneNumber }}\",\n  \"mediatype\": \"{{ $json.media.mimeType?.startsWith('image') ? 'image' : 'document' }}\",\n  \"mimetype\": \"{{ $json.media.mimeType }}\",\n  \"caption\": \"{{ $json.campaignMessage }}\",\n  \"media\": \"{{ $json.media.base64 }}\",\n  \"fileName\": \"{{ $json.media.fileName }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "send-media",
      "name": "Enviar Mídia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apiUrl }}/message/sendText/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phoneNumber }}\",\n  \"text\": \"{{ $json.campaignMessage }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "send-text",
      "name": "Enviar Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Analisar resultado e preparar atualização\nconst sendResult = $input.first().json;\nconst loopData = $('Loop Recipients').first().json;\n\nconsole.log('\\n📊 Analisando resultado do envio:');\nconsole.log('   Recipient:', loopData.phoneNumber);\nconsole.log('   Response:', JSON.stringify(sendResult).substring(0, 200));\n\n// Verificar se enviou com sucesso\nconst hasError = sendResult.error || sendResult.statusCode >= 400 || (!sendResult.key && !sendResult.messageId && !sendResult.id);\nconst status = hasError ? 'failed' : 'sent';\nconst errorMsg = hasError ? (sendResult.message || sendResult.error || JSON.stringify(sendResult)) : null;\n\nconsole.log(`${status === 'sent' ? '✅' : '❌'} [${loopData.index}/${loopData.total}] ${loopData.phoneNumber} - ${status}`);\nif (errorMsg) console.log('   Error:', errorMsg);\n\nreturn [{\n  json: {\n    ...loopData,\n    sendStatus: status,\n    sendError: errorMsg,\n    sendResult: sendResult\n  }\n}];"
      },
      "id": "analyze",
      "name": "Analisar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://dev.wpp.sistemabrasil.online/api/n8n/campaign-items/{{ $json.recipientId }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1NTYxNDJhMi1kMDIzLTQ1OTYtYWZkMy0xMTI5NTY4MzcyYTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzOTI1OTIyfQ.FccQV_2o06C-xdI6cKC-hqksLbIfOpvC3-5rsVqXsvA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.sendStatus }}\",\n  \"error_message\": {{ $json.sendError ? JSON.stringify($json.sendError) : 'null' }}\n}",
        "options": {}
      },
      "id": "update-item",
      "name": "Atualizar Item (+ Contadores)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Preparar delay e voltar para o loop\n// O endpoint /api/n8n/campaign-items/{id}/status já atualiza os contadores automaticamente\nconst data = $input.first().json;\nconst loopData = $('Loop Recipients').first().json;\n\nconst minDelay = loopData.minDelay || 1000;\nconst maxDelay = loopData.maxDelay || 3000;\nconst delay = Math.floor(Math.random() * (maxDelay - minDelay + 1)) + minDelay;\n\nconsole.log(`⏱️ Delay: ${delay}ms antes do próximo envio`);\n\nreturn [{\n  json: {\n    ...loopData,\n    delay: delay\n  }\n}];"
      },
      "id": "calc-delay",
      "name": "Calcular Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 100]
    },
    {
      "parameters": {
        "amount": "={{ $json.delay }}",
        "unit": "milliseconds"
      },
      "id": "wait",
      "name": "Aguardar",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3080, 100],
      "webhookId": "wait-id"
    },
    {
      "parameters": {},
      "id": "back-to-loop",
      "name": "Próximo",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3300, 100]
    },
    {
      "parameters": {
        "jsCode": "// Log de conclusão - Os contadores já foram atualizados pelo endpoint /api/n8n/campaign-items/{id}/status\n// e o status da campanha já foi marcado como 'completed' automaticamente quando todos os itens foram processados\nconsole.log('\\n✅ Todos os recipients processados!');\nconsole.log('   Os contadores foram atualizados automaticamente pelo endpoint de status do item.');\nreturn $input.all();"
      },
      "id": "log-done",
      "name": "Log Fim",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -100]
    }
  ],
  "connections": {
    "A cada 60 segundos": {
      "main": [
        [
          {
            "node": "Buscar Campanhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Campanhas": {
      "main": [
        [
          {
            "node": "Tem Campanhas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Campanhas?": {
      "main": [
        [
          {
            "node": "Separar Campanhas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Campanhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Campanhas": {
      "main": [
        [
          {
            "node": "Status → Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status → Processing": {
      "main": [
        [
          {
            "node": "Restaurar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar Dados": {
      "main": [
        [
          {
            "node": "Tem Recipients?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Recipients?": {
      "main": [
        [
          {
            "node": "Preparar Recipients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Completar (Vazia)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Recipients": {
      "main": [
        [
          {
            "node": "Loop Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Recipients": {
      "main": [
        [
          {
            "node": "Tem Mídia?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Mídia?": {
      "main": [
        [
          {
            "node": "Enviar Mídia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mídia": {
      "main": [
        [
          {
            "node": "Analisar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Texto": {
      "main": [
        [
          {
            "node": "Analisar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar Resultado": {
      "main": [
        [
          {
            "node": "Atualizar Item (+ Contadores)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Item (+ Contadores)": {
      "main": [
        [
          {
            "node": "Calcular Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Delay": {
      "main": [
        [
          {
            "node": "Aguardar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar": {
      "main": [
        [
          {
            "node": "Próximo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Próximo": {
      "main": [
        [
          {
            "node": "Loop Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "campaign-dispatcher-v4.4"
  },
  "pinData": {},
  "versionId": "4.4.0",
  "triggerCount": 1
}
