workflows/evolution-api-production-dispatcher.json
{
  "name": "Evolution API - Campaign Dispatcher (Production)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 60
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (60s)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "Executa a cada 60 segundos para verificar campanhas agendadas"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://dev.wpp.sistemabrasil.online/api/n8n/scheduled-campaigns",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1NTYxNDJhMi1kMDIzLTQ1OTYtYWZkMy0xMTI5NTY4MzcyYTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzOTI1OTIyfQ.FccQV_2o06C-xdI6cKC-hqksLbIfOpvC3-5rsVqXsvA"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-campaigns",
      "name": "Fetch Scheduled Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "notes": "Busca campanhas prontas: scheduled_at <= NOW() e status='scheduled'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-count",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-campaigns",
      "name": "Has Campaigns?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Verifica se count > 0"
    },
    {
      "parameters": {
        "jsCode": "// Extrai campanhas e adiciona log\nconst response = $input.first().json;\nconst campaigns = response.campaigns || [];\n\nif (campaigns.length > 0) {\n  console.log(`\\n========================================`);\n  console.log(`📋 ${campaigns.length} campanha(s) pronta(s) para envio`);\n  console.log(`⏰ Timestamp: ${response.timestamp}`);\n  console.log(`========================================\\n`);\n}\n\nreturn campaigns.map(c => ({ json: c }));"
      },
      "id": "extract-campaigns",
      "name": "Extract Campaigns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200],
      "notes": "Converte array em items separados"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-campaigns",
      "name": "Loop Campaigns",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 200],
      "notes": "Processa uma campanha por vez"
    },
    {
      "parameters": {
        "jsCode": "const c = $input.item.json;\n\nconsole.log(`\\n📤 Iniciando: ${c.title}`);\nconsole.log(`   ID: ${c.campaignId}`);\nconsole.log(`   Tipo: ${c.scheduleType || 'immediate'}`);\nconsole.log(`   Agendado: ${c.scheduledAt || 'Imediato'}`);\nconsole.log(`   Timezone: ${c.timezone || 'America/Sao_Paulo'}`);\nconsole.log(`   Destinatários: ${c.recipients?.length || 0}`);\nif (c.recurrencePattern) {\n  console.log(`   Recorrência: ${c.recurrencePattern.type} (${c.recurrencePattern.interval}x)`);\n}\nconsole.log(`   Throttle: ${c.throttling?.enabled ? `${c.throttling.messagesPerMinute}msg/min` : 'OFF'}`);\n\nreturn $input.item;"
      },
      "id": "log-campaign",
      "name": "Log Campaign Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200],
      "notes": "Registra detalhes da campanha"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://dev.wpp.sistemabrasil.online/api/n8n/campaigns/{{ $json.campaignId }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1NTYxNDJhMi1kMDIzLTQ1OTYtYWZkMy0xMTI5NTY4MzcyYTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzOTI1OTIyfQ.FccQV_2o06C-xdI6cKC-hqksLbIfOpvC3-5rsVqXsvA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"processing\"\n}",
        "options": {}
      },
      "id": "update-status-processing",
      "name": "Status → Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200],
      "notes": "Atualiza status para processing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-recipients",
              "leftValue": "={{ $('Loop Campaigns').item.json.recipients.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-recipients",
      "name": "Has Recipients?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 200],
      "notes": "Verifica se há destinatários pendentes"
    },
    {
      "parameters": {
        "jsCode": "// Prepara destinatários com dados da campanha\nconst campaign = $('Loop Campaigns').item.json;\nconst recipients = campaign.recipients || [];\n\n// Calcula delay baseado no throttling\nconst throttling = campaign.throttling || {};\nlet baseDelay = 1000;\n\nif (throttling.enabled && throttling.messagesPerMinute) {\n  baseDelay = Math.ceil(60000 / throttling.messagesPerMinute);\n} else if (throttling.delayBetweenMessages) {\n  baseDelay = throttling.delayBetweenMessages * 1000;\n}\n\nconst minDelay = throttling.minDelay || Math.floor(baseDelay * 0.8);\nconst maxDelay = throttling.maxDelay || Math.ceil(baseDelay * 1.2);\n\nconsole.log(`\\n⏱️ Delay configurado: ${minDelay}-${maxDelay}ms`);\n\nreturn recipients.map((r, i) => ({\n  json: {\n    ...r,\n    campaign: {\n      id: campaign.campaignId,\n      title: campaign.title,\n      message: campaign.message,\n      media: campaign.media,\n      scheduleType: campaign.scheduleType,\n      recurrencePattern: campaign.recurrencePattern\n    },\n    instance: campaign.instance,\n    delay: { min: minDelay, max: maxDelay },\n    progress: { current: i + 1, total: recipients.length }\n  }\n}));"
      },
      "id": "prepare-recipients",
      "name": "Prepare Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 100],
      "notes": "Prepara lista com dados de campanha"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-recipients",
      "name": "Loop Recipients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2050, 100],
      "notes": "Processa um por vez"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-media",
              "leftValue": "={{ $json.campaign.media }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-media",
      "name": "Has Media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2250, 100],
      "notes": "Verifica se tem mídia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.instance.apiUrl }}/message/sendMedia/{{ $json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.instance.apiToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phoneNumber }}\",\n  \"mediatype\": \"image\",\n  \"mimetype\": \"{{ $json.campaign.media.mimeType }}\",\n  \"caption\": \"{{ $json.campaign.message }}\",\n  \"fileName\": \"{{ $json.campaign.media.fileName }}\",\n  \"media\": \"{{ $json.campaign.media.base64 }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "send-media-message",
      "name": "Send Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 0],
      "notes": "Envia imagem/video via Evolution API",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Loop Recipients').item.json.instance.apiUrl }}/message/sendText/{{ $('Loop Recipients').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Loop Recipients').item.json.instance.apiToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Loop Recipients').item.json.phoneNumber }}\",\n  \"text\": \"{{ $('Loop Recipients').item.json.campaign.message }}\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "send-text-message",
      "name": "Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 150],
      "notes": "Envia texto via Evolution API",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-send-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2650, 75],
      "notes": "Combina resultado do envio"
    },
    {
      "parameters": {
        "jsCode": "// Analisa resultado\nconst result = $input.first().json;\nconst recipient = $('Loop Recipients').item.json;\nconst campaign = $('Loop Campaigns').item.json;\n\nconst hasError = result.error || result.statusCode >= 400;\nconst status = hasError ? 'failed' : 'sent';\nconst errorMsg = hasError ? (result.error?.message || result.body?.message || 'Erro') : null;\n\nconst emoji = hasError ? '❌' : '✅';\nconsole.log(`${emoji} [${recipient.progress.current}/${recipient.progress.total}] ${recipient.phoneNumber}`);\n\nreturn [{\n  json: {\n    recipientId: recipient.id,\n    campaignId: campaign.campaignId,\n    phoneNumber: recipient.phoneNumber,\n    status,\n    errorMessage: errorMsg,\n    sentAt: new Date().toISOString(),\n    delay: recipient.delay\n  }\n}];"
      },
      "id": "analyze-result",
      "name": "Analyze Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 75],
      "notes": "Determina status sent/failed"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://dev.wpp.sistemabrasil.online/api/n8n/campaign-items/{{$json.recipientId}}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1NTYxNDJhMi1kMDIzLTQ1OTYtYWZkMy0xMTI5NTY4MzcyYTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzOTI1OTIyfQ.FccQV_2o06C-xdI6cKC-hqksLbIfOpvC3-5rsVqXsvA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.status }}\",\n  \"error_message\": \"{{ $json.errorMessage || '' }}\"\n}",
        "options": {}
      },
      "id": "update-item-status",
      "name": "Update Item Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3050, 75],
      "notes": "Atualiza status no banco"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://dev.wpp.sistemabrasil.online/api/n8n/campaigns/{{$json.campaignId}}/counters",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1NTYxNDJhMi1kMDIzLTQ1OTYtYWZkMy0xMTI5NTY4MzcyYTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzOTI1OTIyfQ.FccQV_2o06C-xdI6cKC-hqksLbIfOpvC3-5rsVqXsvA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"increment_sent\": {{ $json.status === 'sent' ? 1 : 0 }},\n  \"increment_failed\": {{ $json.status === 'failed' ? 1 : 0 }}\n}",
        "options": {}
      },
      "id": "update-counters",
      "name": "Update Counters",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3250, 75],
      "notes": "Incrementa sent/failed count"
    },
    {
      "parameters": {
        "jsCode": "// Delay aleatório anti-detecção\nconst delay = $json.delay || { min: 1000, max: 3000 };\nconst waitMs = Math.floor(Math.random() * (delay.max - delay.min)) + delay.min;\n\nconsole.log(`⏳ Aguardando ${waitMs}ms...`);\n\nreturn [{ json: { ...$json, waitMs } }];"
      },
      "id": "calc-delay",
      "name": "Calculate Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3450, 75],
      "notes": "Delay aleatório"
    },
    {
      "parameters": {
        "amount": "={{ $json.waitMs }}",
        "unit": "milliseconds"
      },
      "id": "wait-delay",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3650, 75],
      "webhookId": "wait-delay-webhook",
      "notes": "Aguarda antes do próximo"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://dev.wpp.sistemabrasil.online/api/n8n/campaigns/{{ $('Loop Campaigns').item.json.campaignId }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1NTYxNDJhMi1kMDIzLTQ1OTYtYWZkMy0xMTI5NTY4MzcyYTAiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzOTI1OTIyfQ.FccQV_2o06C-xdI6cKC-hqksLbIfOpvC3-5rsVqXsvA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "complete-campaign",
      "name": "Complete Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 350],
      "notes": "Marca campanha como completa"
    },
    {
      "parameters": {
        "jsCode": "console.log('\\n💤 Nenhuma campanha agendada.');\nconsole.log(`⏰ Próxima verificação em 60s...\\n`);\nreturn [];"
      },
      "id": "no-campaigns",
      "name": "No Campaigns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400],
      "notes": "Quando não há campanhas"
    },
    {
      "parameters": {
        "jsCode": "const c = $('Loop Campaigns').item.json;\nconsole.log(`⚠️ Campanha \"${c.title}\" sem destinatários pendentes.`);\nreturn [{ json: c }];"
      },
      "id": "no-recipients",
      "name": "No Recipients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300],
      "notes": "Sem destinatários pendentes"
    }
  ],
  "connections": {
    "Schedule Trigger (60s)": {
      "main": [
        [
          {
            "node": "Fetch Scheduled Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scheduled Campaigns": {
      "main": [
        [
          {
            "node": "Has Campaigns?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Campaigns?": {
      "main": [
        [
          {
            "node": "Extract Campaigns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Campaigns": {
      "main": [
        [
          {
            "node": "Loop Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Campaigns": {
      "main": [
        [
          {
            "node": "Log Campaign Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Complete Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Campaign Info": {
      "main": [
        [
          {
            "node": "Status → Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status → Processing": {
      "main": [
        [
          {
            "node": "Has Recipients?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Recipients?": {
      "main": [
        [
          {
            "node": "Prepare Recipients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Recipients": {
      "main": [
        [
          {
            "node": "Complete Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Recipients": {
      "main": [
        [
          {
            "node": "Loop Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Recipients": {
      "main": [
        [
          {
            "node": "Has Media?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Media?": {
      "main": [
        [
          {
            "node": "Send Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Media": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Analyze Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Result": {
      "main": [
        [
          {
            "node": "Update Item Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Item Status": {
      "main": [
        [
          {
            "node": "Update Counters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Counters": {
      "main": [
        [
          {
            "node": "Calculate Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Delay": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Campaign": {
      "main": [
        [
          {
            "node": "Loop Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "WhatsApp",
      "id": "whatsapp-tag"
    },
    {
      "name": "Evolution API",
      "id": "evolution-tag"
    },
    {
      "name": "Campaign",
      "id": "campaign-tag"
    },
    {
      "name": "Production",
      "id": "production-tag"
    },
    {
      "name": "Scheduling",
      "id": "scheduling-tag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-11-25T16:00:00.000Z",
  "versionId": "2.2"
}
